<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cookiecafeadmin.mapper.ProductMapper">
    <select id="selectProductList" resultType="com.example.cookiecafeadmin.dto.Product">
        SELECT
            productname,
            thumb,
            ordernum,
            price,
            status,
            amount,
            content,
            summary,
            markettype,
            indate
            FROM product
            ORDER BY indate DESC
    </select>
    <insert id="addProduct" parameterType="com.example.cookiecafeadmin.dto.Product">
        INSERT INTO product (
            id,
            productname,
            thumb,
            ordernum,
            status,
            amount,
            price,
            content,
            markettype,
            summary
            ) VALUES (
            #{productname},
            #{thumb},
            #{ordernum},
            #{status},
            #{amount},
            #{price},
            #{content},
            #{markettype},
            #{summary}
            )
    </insert>
    <delete id="deleteProduct" parameterType="com.example.cookiecafeadmin.dto.Product">
        DELETE FROM
                   product
        WHERE ID = #{id}
    </delete>

    <select id="selectProduct" parameterType="com.example.cookiecafeadmin.dto.Product" resultType="com.example.cookiecafeadmin.dto.Product">
        SELECT
            productname,
            thumb,
            ordernum,
            price,
            status,
            amount,
            content,
            summary,
            markettype,
            indate
        FROM product
        WHERE ID = #{id}
    </select>
    <update id="updateProduct" parameterType="com.example.cookiecafeadmin.dto.Product">
        UPDATE PRODUCT SET
                           PRODUCTNAME = #{productname},
                           THUMB = #{thumb},
                           STATUS = #{status},
                           ORDERNUM = #{ordernum},
                           PRICE = #{price},
                           AMOUNT = #{amount},
                           SUMMARY = #{summary},
                           MARKETTYPE = #{markettype},
                           CONTENT = #{content}
        WHERE ID = #{id}
    </update>
    <insert id="addCateMap" parameterType="com.example.cookiecafeadmin.dto.Product">
        INSERT INTO catemap (
                            cateid,
                             etcid,
                             etctable
        ) VALUES (
                 #{cateid},
                  #{id},
                  ,'product'
                         )
    </insert>
    <delete id="deleteCateMap" parameterType="com.example.cookiecafeadmin.dto.Product">
        DELETE FROM CATEMAP
        WHERE ETCID = #{id}
        AND ETCTABLE = 'PRODUCT'
    </delete>
</mapper>