<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cookiecafeadmin.mapper.SellTimeMapper">
    <select id="selectSellTimeList" resultType="com.example.cookiecafeadmin.dto.SellTime">
        SELECT
            ID,
            STARTTIME,
            ENDTIME,
            INDATE
        FROM
            selltime
    </select>
    <insert id="insertSellTimes" parameterType="com.example.cookiecafeadmin.dto.SellTime">
        INSERT INTO selltime
            (STARTTIME, ENDTIME)
        VALUES
            (#{startTime}, #{endTime})
    </insert>
    <delete id="deleteSellTime" parameterType="com.example.cookiecafeadmin.dto.SellTime">
        DELETE FROM
                   selltime
        WHERE ID = #{id}
    </delete>
</mapper>